body {
   color: rgba(var(--i1d, 38, 38, 38), 1);
   text-align: center;

}

.loginPageImg {
   text-align: center;
   display: inline;
   margin: 0px auto;
}

.loginandorid {
   border-radius: 8px;
}

.backgroundImg {
   border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
   border-radius: 1px;
   margin: 0 0 10px;
   padding: 10px 0;
   position: relative;
   width: 430px;
   top: 20px;
   display: inline-flex;
}

#needId {
   flex: 1 0 auto;
   margin: 0;
   padding: 9px 0 7px 8px;
   background: rgba(var(--b3f, 250, 250, 250), 1);
   border: 0;
}

#needPwd {
   flex: 1 0 auto;
   margin: 0;
   padding: 9px 0 7px 8px;
   background: rgba(var(--b3f, 250, 250, 250), 1);
   border: 0;
}

p {
   background-color: rgba(var(--b38, 219, 219, 219), 1);
   height: 1px;
   position: relative;
   top: .45em;
   flex-shrink: 1;
   flex-grow: 1;
}

#test_btn1 {
   margin-top: 20px;
}

#test_btn1 button {
   background-color: #badffa;
   /* Green */
   border: none;
   color: white;
   font-size: 16px;
   cursor: pointer;
   font-weight: 300px;
   padding: 5px;
   text-align: center;
   text-decoration: none;
   margin-top: 10px;
   text-transform: inherit;
   text-overflow: ellipsis;
   width: 330px;
}

#form {
   font-size: 1.3em;
   display: inline-block;
   padding: 20px;
   text-align: center;
}

::placeholder {
   font-size: 1.1em;
}

.downloadPicture img {

   width: 130px;
   height: 50px;

}

.backgroundImg img {
   margin-top: 30px;
}

.usernameinput {
   color: #8e8e8e;
   font-size: 12px;
   height: 36px;
   left: 8px;
   line-height: 36px;
   overflow: hidden;
   pointer-events: none;
   position: absolute;
   right: 0;
   text-overflow: ellipsis;
}

.userLabel {
   flex: auto;
   padding: 0;
   position: relative;
   margin: 20px;
   display: flex;
   width: 330px;
   height: 40px;
}

.forgotPwd {
   margin-top: 55px;
   color: #00376b;
   font-size: 14px;
   text-align: center;
}

.forgotPwd .forgetPwd {

   line-height: 14px;

}